@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  padding-right: 16px;
  height: 64px;
  padding-left: 40px;
  overflow: hidden;
  color: #000000d9;
  font-weight: 700;
  font-size: 18px;
  font-family: PuHuiTi, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji, sans-serif;
  line-height: 64px;
  letter-spacing: -0.18px;
  white-space: nowrap;
  text-decoration: none;
}

#logo img {
  height: 32px;
  margin-right: 12px;
  vertical-align: middle;
    border-style: none;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  background: 0 0;
  box-shadow: none;
  z-index: 10;
}

header .menu-row {
  display: flex;
  align-items: center;
  margin: 0;
}

header .menu-class {
  background: 0 0;
  border: none;
}

header h1 {
  margin-bottom: 0;
}

.home-banner {
  position: relative;
  height: 512px;
  overflow: hidden;
  background: url(https://gw.alipayobjects.com/zos/basement_prod/a8cf2dfe-ff6a-4a2e-ab73-f72dced0df99.svg);
  background-size: cover;
}

.home-banner-background{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home-banner-holder {
  position: relative;
  z-index: 1;
  margin-top: 160px;
}

.home-banner-content {
  margin: 0 auto;
  padding: 0 16px;
  font-size: 16px;
  text-align: center;
}

.home-banner-content p {
  margin-top: 24px;
  font-weight: lighter;
}

.home-card-logo {
  position: relative;
  display: inline-block;
  max-width: 500px;
  margin: 0 32px;
  cursor: pointer;
}

.home-card-logo .home-card-logo-icon {
  position: absolute;
  top: -38px;
  left: 339px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operations-use {
  margin-right: 40px;
}
